body{
    background-image: url(imagens/fundo.jpeg);
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

/* ======= NAV ======== */

nav{
    align-items: center;
    display: flex;
    height: 85px;
    justify-content: space-between;
}

.nome{
    color: black;
    font-family: 'Courier Prime', monospace;
    text-decoration: none;
    margin-left: 30px;
    font-size: 25px;
}

.nome:hover{
    color: rgb(75, 75, 75);
}

.opcoes{
    display: flex;
    justify-content: space-around;
    width: 400px;
}

.link{
    color: black;
    font-family: 'Courier Prime', monospace;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 125%;
}

.link:hover{
    color: rgb(75, 75, 75);
}

/* ======== HEADER ======== */

.titulo{
    color: black;
    display: flex;
    font-family: 'Courier Prime', monospace;
    font-size: 120px;
    justify-content: center;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.subtitulo{
    color: black;
    display: flex;
    font-family: 'Courier Prime', monospace;
    font-size: 50px;
    justify-content: center;
}

.subtitulo-2{
    color: black;
    display: flex;
    font-family: 'Courier Prime', monospace;
    font-size: 30px;
    justify-content: center;
}

.subtitulo-2::after{
    animation: pisca .7s infinite;
    content: '|';
    margin-left: 5px;
    opacity: 1;
}

.div-botao{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.botao{
    background-color: black;
    border: 0px;
    border-radius: 7px;
    display: flex;
    font-family: 'Courier Prime', monospace;
    font-size: 30px;
    height: 60px;
    justify-content: center;
    width: 180px;
}

.link-botao{
    color: white;
    text-decoration: none;
}
 
.botao:hover{
    background-color: rgb(58, 58, 58);
}

/* ======== MAIN ======= */

main{
    background-color: black;
    height: 800px;
    margin-top: 200px;
}

.h2-main{
    color: white;
    font-family: 'Courier Prime', monospace;
    font-size: 70px;
    padding-left: 60px;
    padding-top: 70px;
    text-transform: uppercase;
}

.div-main{
    display: flex;
    justify-content: space-around;
}

.img-main{
    border: 5px solid;
    border-color: white;
    border-radius: 150px;
}

.p-main{
    align-items: center;
    color: white;
    display: flex;
    font-family: 'Courier Prime', monospace;
    font-size: 20px;
    width: 800px;
}

/* ======== SECTION ======== */

section{
    background-color: white;
    height: 800px;
    margin: 0;
}

.h2-section{
    color: black;
    font-family: 'Courier Prime', monospace;
    font-size: 70px;
    margin: 0;
    padding-left: 60px;
    padding-top: 70px;
    text-transform: uppercase;
}

/* ======== ANIMAÇÕES ======== */

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}